html, body, button {
  font-size: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* { margin: 0; padding: 0; }
	
html {
  height: 100%; 
} 	
	
body { 
	background-image: url(../images/bg.jpg); 
	font-size: 16px; 
	height: 100%; 
	position: relative; 
}

/* The header shows the title and the instal button */
header { 
	background-color: rgba(0,0,0,.88); 
	height: 49px; 
	width: 100%; 
	position: fixed; 
	z-index: 99; 
	box-shadow: 0px 2px 3px #333333; 
}

header > img { float: left; }

header #appName{
  color: #fff;
  position: absolute;
  font-size: 1.4rem;
  font-weight: 600;
  background: transparent;
  border: none;
  margin: 1.4rem 0 0;
  left: 2.5rem;
  display: inline; 
}	


header #btnMain {
  background: #00539f url(../images/back.png) no-repeat -0.5rem center;
  position: absolute;
  left: 0;
  width: 2rem;
  border: none;
  height: 100%;
  margin: 0;
}

header #btnInstall {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  background: transparent;
  border: none;
  margin: 1.4rem 0 0;
}

header #btnAdd {
  background: url(../images/add.png) no-repeat left center;
  width: 3rem;
  border: none;
  height: 100%;
  margin: 0;
}

header #btnMain:active {
  background-color: #e66000;
}

header #btnMain img {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00539f;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  width: 2rem;
  height: 100%;
  z-index: -1;
}

header h1 {
  background: url("../images/mainsepa.png") no-repeat scroll left top;
  display: block;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 4.9rem;
  height: 100%;
  margin: 0 0 0 2rem;
  padding: 0 0 0 1rem;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header ul {
  margin: 0px;
  padding: 0px;
  float: right;
  height: 100%;
  min-width: 12rem;
}

header li {
  float: left;
  list-style: none;
  background: url("../images/separator.png") no-repeat scroll left top;
  min-width: 6rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  text-align: center;
  width: auto;
  height: 100%;
}

header li:active {
  background-color: #e66000;
}

.body{
  top: 6rem;
  left:1rem;
  right:1rem;
  bottom: 6rem;
  position: absolute;
}

/* The map */
#mainMap {
	position: absolute; 
	background: transparent; 
	height: 100%; 
	width: 100%; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
}

/* If there are errors */
#errors  {
	position: relative;
	font-size: 1.1em; 
	top: 50px;
	left: 0px;
	z-index: 200px;
	margin-bottom: 10px; 
}

/* Information panel that advise the type of place, location and distance */
#information {
	display:none; 
	position: absolute; 
	background: rgba(0,16,27,.85); 
	z-index: 200; 
	left: 0; 
	width: 100%; 
	padding-left: 12px; 
	height:5rem; 
	bottom:5rem;
}	

#information #byLine { 
	color: #FFFFFF; 
	text-shadow: 1px 1px 1px #000000; 
	font-weight: normal; 
	font-size: .8em; 
} 

#information #byLine span { 
	color: #FF5555;
} 

#information #byLine span span { 
	color: #FFFFFF;
} 
	
#information h3,

#information h3 {
	color: #FFFFFF; 
	text-shadow: 1px 1px 1px #000000; 
	font-weight: normal; 
	font-size: .9em; 
}

#information h3 { 
	font-size: 1.1em; 
	margin-bottom: 10px; 
}	

#information h3 span { 
	color: #FF5555; 
}

footer {
  background:#6a7b86;
  background:-moz-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6a7b86),color-stop(100%,#424f5a));
  background:-webkit-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  background:-o-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  background:-ms-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  background:linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a7b86',endColorstr='#424f5a',GradientType=0);
  color: #fff;
  position: absolute;
  width:100%;
  height:5rem;
  bottom:0;
}

footer ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:100%;
}

footer li {
  float: left;
  border-right: 1px solid #445;
  width: 33%;
  height: 100%;
  list-style: none;
  margin: 0;
  text-align: center;
}

footer li button {
  display: inline-block;
  background: transparent;
  border: none;
  height: 100%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

footer li.activated {
  background:#b4beca;
  background:-moz-linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#b4beca),color-stop(100%,#e1e5eB));
  background:-webkit-linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
  background:-o-linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
  background:-ms-linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
  background:linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4beca',endColorstr='#e1e5eB',GradientType=0);
  color: #000000;
}

footer li:active {
  background:#e66000;
  color: #000000;
}

footer li:last-child {
  border:none;
}

